.post {
  font-family: Arial;
  padding-bottom: 10%;
  width: 66vw;
}

.post-top {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.post-top li {
  display: flex;
  position: relative;
}

.post-pic {
  width: 66vw;
}

.post-title {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-offblack);
}

.experience {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .post-excerpt {
  margin-top: 5px;
  margin-bottom: 2px;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: var(--color-grey);
}

.post-credit {
  margin-top: 2px;
  font-style: italic;
  font-size: 10px;
  color: var(--color-grey);
}

/* .navbar li:nth-of-type(2) {
  margin-right: -32px;
} */
