.expbutton {
  border: 2.25px solid var(--color-black);
  border-radius: 2px;
  /* padding: 8px 15px; */
  margin: 15px;
  margin-bottom: 0px;
  /* padding: 2px; */
  background-color: white;
  color: var(--color-offblack);
  font-weight: bold;
  width: 130px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}

.expbutton:hover {
  color: white;
  background-color: var(--color-black);
  font-weight: bold;
  letter-spacing: 1px;
  /* #D2D0B5 */
}

.expbutton:active {
  /* color: white;
  background-color: var(--color-black); */
  color: white;
  background-color: var(--color-black);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
}

.icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  background-color: white;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.icons li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.icons li:hover {
  background-color: var(--color-black);
  color: white;
}

.icons li:hover .ico {
  color: white;
}

.expbutton:active .ico {
  font-size: 32px;
}

.ico {
  color: var(--color-black);
  /* padding-left: 20px;
  padding-right: 20px; */
}
