.navbar-container {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  z-index: 2;
}

.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 11vw;
  margin-top: -2px;
  margin-bottom: 0px;
}
.navbar li:nth-of-type(2) {
  margin-left: -46px;
}

/* HAMBURGER CSS ANIMATION */
/* https://www.youtube.com/watch?v=dIyVTjJAkLw */

.menu-btn {
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 0px;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 37px;
  height: 5px;
  background: var(--color-offblack);
  border-radius: 5px;
  /* box-shadow: 0 1px 0.5px var(--color-grey); */
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 5px;
  background: var(--color-offblack);
  border-radius: 5px;
  /* box-shadow: 0 1px 0.5px var(--color-grey); */
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(12px);
}
.menu-btn__burger::after {
  transform: translateY(-12px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(-45deg) translate(35px, 35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(45deg) translate(35px, -35px);
}
